/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo{
    background: url(../img/logo.jpg);
    height: 300px;
    width: 800px;
    margin: auto;
}

.memory{
    width: 40em;
    height: 40em;
    margin: auto;
    
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}
.screen{
    width: 600px;
    height: 300px;
    background: url(../img/Screen.jpg);
    text-align: center;
    vertical-align: middle;
    font-size: 150px;    
    line-height: 290px;
    color: white;
}

.panel{
    background-color: #999;
    width: 150px;
    height: 200px;
    float: left;
    text-align: center;
    font-size: 150px;    
    background: url(../img/button.jpg);

}

.btnOne{
 background-color: #ccffff;
}

.btnTwo{
 background-color: #ccff99;
}

.btnThree{
 background-color: #0099ff;
}

.btnFour{
 background-color: #bfbfbf;
}

.div-wrap{
    position: relative;
    height: 800px;
    widows: 600px;
    margin-top: 510px;
    margin-right: 40px;
}
.gametext{
    height: 100px;
    width: 600px;
    background: url(../img/instruct.jpg);
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: auto;
    line-height: 100px;
    color: white;
}

.instruction{
margin-left: 100px;
margin-right: 100px;
position: relative;
}

@media (min-width: 600px){
    body{
        font-size: 16px;
    }
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}